# Part 1

In [1]:
#1 A string:  str1 = "I’m a student at Northeastern University", count how many numbers of "e" occur in this string.          [2 point]
str1 = "I’m a student at Northeastern University"
str1.count('e')

4

In [19]:
#2 Give the index of "u" in str1.        [2 point]
str1.index("u")

8

In [28]:
#03 Use the negative indexes to slice the string str1 and get the sub-string "sity".       [2 points]
# [Note: if you use positive indexes, e.g. [2:10] will not get points]   
str1[-4:]

'sity'

In [27]:
#4 Replace the character "N" with a "n", "U" with "u" in str1.      [2 points]
str1.replace("N", "n").replace("U", "u")

'I’m a student at northeastern university'

In [30]:
#5  Change the entire string str1 to upper case characters.      [2 points]
str1.upper()

'I’M A STUDENT AT NORTHEASTERN UNIVERSITY'

In [34]:
# 6. We have two variables name and age:     [4 points]
# name = "John" , age = 26, Please use string format method to print out:
# Hello! My name is John, and I am 26.
name = "John"
age = 26

print("Hello! My name is {}, and I am {}.".format(name, age))

Hello! My name is John, and I am 26.

In [39]:
#7 The statements are as below: [4 points] 
# myorder = "I have a {}. It has {} {} and {} {} memory."
# print(myorder.format("laptop", "GB", "CPUs", 8, 16)
# Please fill in appropriate values in the placeholders to print out as below:
# I have a laptop. It has 8 CPUs and 16GB memory.
myorder = "I have a {}. It has {} {} and {}{} memory."
print(myorder.format("laptop", 8, "CPUs", 16,"GB" ))

I have a laptop. It has 8 CPUs and 16GB memory.

In [41]:
# 8. A string:      [2 point]
# A method to accelerate computation for machine learning.
# Write a command to make the first letter in each word with upper cases.
str2 = "A method to accelerate computation for machine learning."
str2.title()

'A Method To Accelerate Computation For Machine Learning.'

In [60]:
#9. A string:          [4 points]
# Astr = ",,,oohhmy.....great....ahhh……"
# Please remove all other characters and print out : “great”
Astr = ",,,oohhmy.....great....ahhh……"
Astr.strip(",…ohmy.a")

'great'

In [61]:
# 10. Please use string formatting to print the output as below:    [4 points]
# I am standing in the ****center****.
location = "center"
print(f"I am standing in the ****{location}****.")

I am standing in the ****center****.

In [63]:
"""
11. Given the 4 variables:    [4 points]
title = "Ms."
name = "Smith"
account = "abc123"
balance = 1234567.86834269
Please format the string and print out the output:
'Dear Ms. Smith, your account abc123 has a balance of approximately $1_234_567.87.'
"""
title = "Ms."
name = "Smith"
account = "abc123"
balance = 1234567.86834269
print("'"+f"Dear {title} {name}, your account {account} has a balance of approximately ${balance:_.2f}."+"'")

'Dear Ms. Smith, your account abc123 has a balance of approximately $1_234_567.87.'

In [76]:
"""
12. Given the variables and statement,     [6 points]
time = "   6:00 PM.   "

mytask = "I have an {} today at the clinic at {} I better hurry fast, I have to travel {} miles."

print(mytask.format("appointment",time,"6.9876"))
Please fix the print statement to get a desired output as:
"I have an appointment today at the clinic at 6:00 PM. I better hurry fast, I have to travel 7.0 miles."
Require: use round() to work with miles.
"""
time = "   6:00 PM.   "
mytask = "I have an {} today at the clinic at {} I better hurry fast, I have to travel {} miles."
print(mytask.format("appointment",time.strip(),round(6.9876, 1)))

I have an appointment today at the clinic at 6:00 PM. I better hurry fast, I have to travel 7.0 miles.

In [84]:
"""
13. The following code snippet will get the result as below:         [6 points]
for x in range(1, 11):

    print('{} {} {}'.format(x, x*x, x*x*x))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000 
Please format the strings to get the desired output as below:
 1   1    1

 2   4    8

 3   9   27

 4  16   64

 5  25  125

 6  36  216

 7  49  343

 8  64  512

 9  81  729

10 100 1000
"""
for x in range(1, 11):
    print('{:<2} {:<4} {:<4}'.format(x, x*x, x*x*x))  #left-aligned

for x in range(1, 11):    
    print('{:>2} {:>4} {:>4}'.format(x, x*x, x*x*x))  #right-aligned

1  1    1
2  4    8
3  9    27
4  16   64
5  25   125
6  36   216
7  49   343
8  64   512
9  81   729
10 100  1000
 1    1    1
 2    4    8
 3    9   27
 4   16   64
 5   25  125
 6   36  216
 7   49  343
 8   64  512
 9   81  729
10  100 1000

# Part 2

In [95]:
"""
14. A list:     [10 points]
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
(1) Use a command to print out: ["cherry", "orange", "kiwi"]
(2) Use a command to print out: ["banana", "orange", "melon"]
(3) Remove "banana" from this list.
(4) Insert "lemon" as the second item in the list.
(5) Delete the last item from this list.
"""

fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])
print(fruits[1:6:2])
fruits.remove("banana")
fruits.insert(1, "lemon")
fruits.pop()
print(fruits)

['cherry', 'orange', 'kiwi']
['banana', 'orange', 'melon']
['apple', 'lemon', 'cherry', 'orange', 'kiwi', 'melon']

In [107]:
'''
15. A list:       [9 points]
num3 = [2, 4, 6, 8, 11, 12]
(1) change the last item to 1: [2, 4, 6, 8, 11, 1]                      [3 points]
(2) modify this list to get: [2, 4, 6, 8, 100, 11, 1]                    [3 points]
(3) modify this list to get: [2, 4, 6, 8, 20, 30, 11, 1]                [3 points]
'''
num3 = [2, 4, 6, 8, 11, 12]
num3[-1] = 1
print(f"the (1) question result is {num3} ")
num3.insert(4, 100)
print(f"the (2) question result is {num3} ")
num3.remove(100)
num3.insert(4, 20)
num3.insert(5, 30)
print(f"the (3) question result is {num3} ")

the (1) question result is [2, 4, 6, 8, 11, 1]
the (2) question result is [2, 4, 6, 8, 100, 11, 1]
the (3) question result is [2, 4, 6, 8, 20, 30, 11, 1]

In [119]:
'''
16. Use list methods to get a new list as: newlist = [1,2,3,4,5,6,7,8,10]                  [4 points]
list1 = [1,3,5,7]
list2 = [2,4,6,8,10]
'''
list1 = [1,3,5,7]
list2 = [2,4,6,8,10]
newlist = list1 + list2
newlist.sort()
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [120]:
'''
17. Given a list, use indexing to swap first and last element of the list.     [4 points]
alist = [12, 35, 9, 56, 24]
Desired output:
[24, 35, 9, 56, 12]
'''
alist = [12, 35, 9, 56, 24]
alist[0], alist[-1] = alist[-1],alist[0]
alist

[24, 35, 9, 56, 12]

In [123]:
"""
18. Check if 3 exists in alist or not:   [2 points]
alist = [1,2,4,5,6,7,8,10, 0, 4]
"""
alist = [1,2,4,5,6,7,8,10, 0, 4]
if 3 in alist:
    print("3 exists in alist.")
else:
    print("3 doesn't exist in alist.")

3 doesn't exist in alist.

In [134]:
"""
19. A list:    [12 points]
alist = ['info5002', 'fits', 'java', 'beginners']
(1) Modify this list to be: [‘info5002’, ‘fits’, ‘Python’, ‘beginners’]
(2) Modify this list to be: [‘INFO5002’, ‘fits’, ‘Python’, ‘Beginners’]
(3) Print out as: “INFO5002 fits Python Beginners”
Note: the output is a string, not list.
"""
alist = ['info5002', 'fits', 'java', 'beginners']
alist[2] = "Python"
print(f"the 1 question result is {alist}." )
alist[-1]= "Beginners"
print(f"the 2 question result is {alist}." )
print(f"{alist[0]} {alist[1]} {alist[2]} {alist[3]}")

the 1 question result is ['info5002', 'fits', 'Python', 'beginners'].
the 2 question result is ['info5002', 'fits', 'Python', 'Beginners'].
info5002 fits Python Beginners

In [150]:
"""
20. A tuple:                 [8 points]
fruits1 = ("apple", "banana", "cherry")
(1) Take workaround to insert "kiwi" as the second item in this tuple.         [4 pts]
(2) Add “lemon” to the end of this tuple.                   [4 pts]
"""
fruits1 = ("apple", "banana", "cherry")
temp_list = list(fruits1)
temp_list.insert(1, "kiwi")
my_fruits1 = tuple(temp_list)
print(f"The first question result is {my_fruits1}")

# a method to add an element to the end of this tuple 
temp_list2 = list(fruits1)
temp_list2.append("lemon")
my_fruits2 = tuple(temp_list2)
print(f"The second question result is {my_fruits2}")

# Another meothod to add an element to the end of this tuple,create a new tuple by concatenate two tuple
my_fruits3 = fruits1 + ("lemon",)
print(f"The second question result is {my_fruits3}")

The first question result is ('apple', 'kiwi', 'banana', 'cherry')
The second question result is ('apple', 'banana', 'cherry', 'lemon')
The second question result is ('apple', 'banana', 'cherry', 'lemon')

In [166]:
"""
21. Please explain the following questions: [9 points]
* What is the difference between del keyword and clear() method?
* What is the difference between list2 = list1 and list2=list1.copy()?
* What is the difference between append() and extend()?
"""
# del keyword and clear() method
mylist = [1,2,3,4,5]
mylist.clear() # clear() means delete all element in this data type
mylist
del(mylist) #del means delete this data type, not just some element


# list2 = list1 means list2 and list1 point the same memory location
# list2 = list1.copy() means create a new list and assign to list2, list2 point the different memory address with list1
list1 = [1,2,3,4,5]
list2 = list1
print(hex(id(list1)))
print(hex(id(list2)))
list3 = list1.copy()
print(hex(id(list3)))

# append() just can add one element one time, but extend() can add more than one element one time
list1.append(6)
list1.extend([7,8,9])
list1

0x110559200
0x110559200
0x11055be00

[1, 2, 3, 4, 5, 6, 7, 8, 9]